
body {
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.content {
    flex: 1 0 auto;
    background-color: rgba(0,0,0,0.9);
    margin: 5%;
    padding: 2%;
    display: block;
    border-radius: 15px;
    color: white;
}

.textColumn, .imgColumn {
    padding: 2%;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 5vw;
    color: white;
}

footer {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 1%;
}

img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.twoColumns {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.iframe-container {
    overflow: hidden;
    /* 16:9 aspect ratio */
    padding-top: 56.25%;
    position: relative;
}
.iframe-container iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
}

iframe {
    display: inline;
    border: 0;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

script {
    margin: 10%;
}

.twitter-tweet {
    margin: auto;
    float: none;
    width: 50% !important;
    height: auto !important;
}

p {
    font-size: 1em;
    color: white;
}

h2 {
    font-size: 5em;
    margin-top: 10%;
    margin-bottom: 0;
}

h3 {
    font-size: 3em;
}

h4 {
    font-size: 2em;
}

.imageComment {
    font-size: 1.2vw;
    text-align: center;
    color: lightgrey;
}

